body, html {
    height: 100%;
  }
.background {
    filter: blur(8px);
  -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
.header {    
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: rgb(3, 3, 3);
        border: 3px solid #f1f1f1;
        position:absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 20px;
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
}
.sidebar {
    width: 30%;
    float: left;
    position:absolute;
    top: 30%;
    left: 1%;
    background-color: rgba(5, 125, 146, 0.295);
    border: 2px solid rgba(17, 0, 56, 0.342);
    padding: 6px;
    margin: 20px;
    margin-top: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    
  }
  .sidebar img {
    border: 5px solid rgba(2, 33, 119, 0.507);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.sidebar p{
    font-size: small;
}
.sidebar ul{
    font-size: small;
}
